{# 轮播 #}
{% if carousel %}
    <div class="swiper">
        <div class="swiper-wrapper">
            {% for item in carousel %}
                <div class="swiper-slide">
                    {% if item.link %}
                        <a href="{{ item.link }}" target="_blank">
                            <img src="{{ item.image }}" alt="{{ item.title }}">
                        </a>
                    {% else %}
                        <img src="{{ item.image }}" alt="{{ item.title }}">
                    {% endif %}
                </div>
            {% endfor %}
        </div>
        <div class="swiper-pagination"></div>
    </div>
{% endif %}