{% extends 'base.twig' %}

{# CSS #}
{% block css %}
    {{ parent() }}
    <link rel="stylesheet" crossorigin href="{{ "/css/global.css?v=#{version}" }}">
    <link rel="stylesheet" crossorigin href="{{ "/css/index.css?v=#{version}" }}">
    <style>
        .web .shortcut-page {
            background: url({{"/img/shortcut-bg.jpeg"}}) no-repeat;
            background-size: cover;
        }
    </style>
{% endblock %}

{% block js %}
    {{ parent() }}
    <script type="module" crossorigin src="{{ "/js/index.js?v=#{version}" }}"></script>
    <script src="{{ "/js/search.js?v=#{version}" }}" type="text/javascript"></script>
    <script src="{{ "/js/share.js?v=#{version}" }}" type="text/javascript"></script>
{% endblock %}

{# 主体 #}
{% block content %}
    {% include 'header.twig' %}
    <div class="web">
        <div class="slide-page">
            <div class="left-wrapper">
                {# 左侧导航菜单 #}
                {% include 'nav.twig' %}
            </div>
            <div class="right-wrapper">
                {# 轮播 #}
                {% include 'carousel.twig' %}
                {# 小部件 #}
                {% include 'widget.twig' %}
                {# 搜索 #}
                {% include 'search.twig' %}
                {# 快捷导航 #}
                {% include 'quick.twig' %}
                {# 站点列表 #}
                {% include 'website.twig' %}
                {% include 'footer.twig' %}
            </div>
        </div>
        {# 我的桌面 #}
        {% include 'desktop.twig' %}
        {# 浮动工具栏 #}
        {% include 'toolbar.twig' %}
        <div class="add-pop-up">
            <div class="add-pop-up-content">
                <div class="title">
                    <p>新增</p>
                    <img src="data:image/svg+xml,%3csvg%20width='24.000000'%20height='24.000000'%20viewBox='0%200%2024%2024'%20fill='none'%20xmlns='http://www.w3.org/2000/svg'%20xmlns:xlink='http://www.w3.org/1999/xlink'%3e%3cdesc%3e%20Created%20with%20Pixso.%20%3c/desc%3e%3cdefs/%3e%3crect%20id='close'%20width='24.000000'%20height='24.000000'%20fill='%23FFFFFF'%20fill-opacity='0'/%3e%3cpath%20id='矢量%207'%20d='M13.41%2012L18.32%207.09C18.74%206.67%2018.75%206.03%2018.36%205.63C17.96%205.24%2017.32%205.25%2016.9%205.67L12%2010.58L7.09%205.67C6.67%205.25%206.03%205.24%205.63%205.63C5.24%206.03%205.25%206.67%205.67%207.09L10.58%2012L5.67%2016.9C5.25%2017.32%205.24%2017.96%205.63%2018.36C6.03%2018.75%206.67%2018.74%207.09%2018.32L12%2013.41L16.9%2018.32C17.32%2018.74%2017.96%2018.75%2018.36%2018.36C18.75%2017.96%2018.74%2017.32%2018.32%2016.9L13.41%2012Z'%20fill='%236B6B6B'%20fill-opacity='1.000000'%20fill-rule='evenodd'/%3e%3c/svg%3e"
                         alt="" class="close-btn">
                </div>
                <hr>
                <div class="form-wrapper">
                    <div class="input-item">
                        <label><span>*</span>网站链接</label>
                        <input type="text">
                    </div>
                    <div class="input-item">
                        <label><span>*</span>网站名称</label>
                        <input type="text">
                    </div>
                    <div class="input-item">
                        <label>评分系数</label>
                        <div class="rating-wrapper">
                            <div class="star-rating">
                                <span class="star" data-value="1">&#9733;</span>
                                <span class="star" data-value="2">&#9733;</span>
                                <span class="star" data-value="3">&#9733;</span>
                                <span class="star" data-value="4">&#9733;</span>
                                <span class="star" data-value="5">&#9733;</span>
                            </div>
                            <div class="rating-value"><span id="rating">0</span> 分</div>
                        </div>
                    </div>
                    <div class="input-item">
                        <label>图标地址</label>
                        <input type="text">
                    </div>
                    <div class="input-item">
                        <label>网站描述</label>
                        <textarea></textarea>
                    </div>
                    <div class="input-item">
                        <label>导航标签</label>
                        <ul class="label-list">
                            <li data-name="已过时">已过时</li>
                            <li data-name="停止维护">停止维护</li>
                            <li data-name="官方">官方</li>
                            <li data-name="人气最高">人气最高</li>
                            <li data-name="优质">优质</li>
                            <li data-name="中文">中文</li>
                            <li data-name="英文">英文</li>
                            <li data-name="GitHub">GitHub</li>
                        </ul>
                    </div>
                    <div class="input-item github-link">
                        <label>GitHub地址</label>
                        <input type="text">
                    </div>
                </div>
                <hr>
                <div class="btn-group">
                    <button class="cancel">取消</button>
                    <button class="confirm">确定</button>
                </div>
            </div>
        </div>
        <div class="toast"></div>
    </div>
{% endblock %}

{# JS脚本 #}
{% block script %}
    {{ parent() }}
    <script>
        $(function () {
            $('.select-list li').on('click', function () {
                const value = $(this).text();
                switch (value) {
                    case '百度':
                        searchSource = 'baidu';
                        return;
                    case '谷歌':
                        searchSource = 'google';
                        return;
                    case 'Bing':
                        searchSource = 'bing';
                        return;
                    case 'Yandex':
                        searchSource = 'yandex';
                        return;
                    default:
                        searchSource = 'website';
                        return;
                }
            });
            {# 搜索 #}
            $('.search-btn').on('click', function () {
                const searchVal = $('.search-input').val();
                if (searchVal === '') {
                    return false;
                }
                search(searchVal);
            });
            {# 回车事件 #}
            $('.search-input').on('keydown', function (e) {
                if (e.keyCode === 13) {
                    const searchVal = $('.search-input').val();
                    if (searchVal === '') {
                        return false;
                    }
                    search(searchVal);
                }
            });
        });
    </script>
{% endblock %}