{% extends 'base.twig' %}

{# CSS #}
{% block css %}
    {{ parent() }}
    <link rel="stylesheet" crossorigin href="{{ "/css/global.css?v=#{version}" }}">
    <link rel="stylesheet" crossorigin href="{{ "/css/index.css?v=#{version}" }}">
    <link rel="stylesheet" crossorigin href="{{ "/css/loading.css?v=#{version}" }}">
    <style>
        .web .shortcut-page {
            background: url({{"/img/shortcut-bg.jpeg"}}) no-repeat;
            background-size: cover;
        }
    </style>
{% endblock %}

{% block js %}
    {{ parent() }}
    <script type="module" crossorigin src="{{ "/js/index.js?v=#{version}" }}"></script>
    {# index.js 已自动引入 #}
    {# <link rel="modulepreload" crossorigin href="{{ "/js/common.js?v=#{version}" }}"> #}
    <script src="{{ "/js/search.js?v=#{version}" }}" type="text/javascript"></script>
    <script src="{{ "/js/share.js?v=#{version}" }}" type="text/javascript"></script>
    <script src="{{ "/js/shortcut.js?v=#{version}" }}" type="text/javascript"></script>
    <script src="{{ "/js/loading.js?v=#{version}" }}" type="text/javascript"></script>
    <script src="{{ "/js/submission.js?v=#{version}" }}" type="text/javascript"></script>
{% endblock %}

{# 主体 #}
{% block content %}
    {% include 'header.twig' %}
    <div class="web">
        <div class="slide-page">
            <div class="left-wrapper">
                {# 左侧导航菜单 #}
                {% include 'nav.twig' %}
            </div>
            <div class="right-wrapper">
                {# 轮播 #}
                {% include 'carousel.twig' %}
                {# 小部件 #}
                {% include 'widget.twig' %}
                {# 搜索 #}
                {% include 'search.twig' %}
                {# 快捷导航 #}
                {% include 'quick.twig' %}
                {# 站点列表 #}
                {% include 'website.twig' %}
                {% include 'footer.twig' %}
            </div>
        </div>
        {# 我的桌面 #}
        {% include 'desktop.twig' %}
        {# 浮动工具栏 #}
        {% include 'toolbar.twig' %}
        {# 网站提交 #}
        {% include 'submission.twig' %}
        <div class="toast"></div>
        <div class="git-sub">
            <a href="https://github.com/ponycool/navigation" target="_blank">
                <svg width="50.000000" height="50.000000" viewBox="0 0 50 50" fill="none"
                     xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                    <path d="M18.56 42.73C10.19 44.55 8.47 39.2 8.47 39.2C7.1 35.74 5.13 34.83 5.13 34.83C2.36 32.98 5.34 33.01 5.34 33.01C8.33 33.26 9.95 36.12 9.95 36.12C12.65 40.63 16.87 39.44 18.66 38.57L18.56 42.73Z"
                          fill="#fff" fill-opacity="1.000000" fill-rule="nonzero" class="octo-arm"
                          style="transform-origin: 20px 40px"/>
                    <path d="M17.08 47.99C17.08 48.06 18.95 47.22 18.95 46.45L18.98 36.77C19.27 34.81 20.05 33.48 20.95 32.75C14.15 31.98 7.03 29.43 7 18C7.03 14.74 8.21 12.05 10.18 9.99C9.82 9.22 8.78 6.18 10.47 2.09C10.47 2.09 13.01 1.29 18.87 5.13C21.27 4.47 23.88 4.15 26.5 4.12C29.07 4.12 31.72 4.47 34.15 5.17C39.98 1.29 42.56 2.06 42.56 2.06C44.21 6.18 43.17 9.22 42.85 9.96C44.81 12.09 46 14.71 46 18C46 29.46 38.84 31.98 32.04 32.75C33.11 33.66 34.12 35.47 34.12 38.27L34.08 46.41C34.08 47.25 36.23 48.09 36.26 47.99L17.08 47.99Z"
                          fill="#fff" fill-opacity="1.000000" fill-rule="nonzero" class="octo-body">
                        <style>
                            @keyframes octocat {
                                0%,
                                100% {
                                    transform: rotate(0);
                                }

                                20%,
                                60% {
                                    transform: rotate(-25deg);
                                }

                                40%,
                                80% {
                                    transform: rotate(100deg);
                                }
                            }

                            .octo-arm {
                                animation: octocat 1.1s linear infinite;
                            }
                        </style>
                    </path>
                </svg>
            </a>
        </div>
    </div>
{% endblock %}

{# JS脚本 #}
{% block script %}
    {{ parent() }}
{% endblock %}