{% if websiteCategories %}
    {% for category in websiteCategories %}
        {% set count = website | filter(item=>item.cid==category.id) | length %}
        <div class="nav-group">
            {% if count > 0 %}
                <div class="nav-group-title">
                    <div>
                        <img src="data:image/svg+xml,%3csvg%20width='24.000000'%20height='24.000000'%20viewBox='0%200%2024%2024'%20fill='none'%20xmlns='http://www.w3.org/2000/svg'%20xmlns:xlink='http://www.w3.org/1999/xlink'%3e%3cdesc%3e%20Created%20with%20Pixso.%20%3c/desc%3e%3cdefs/%3e%3crect%20id='画板%209'%20width='24.000000'%20height='24.000000'%20fill='%23FFFFFF'%20fill-opacity='0'/%3e%3cpath%20id='矢量%204'%20d='M12%2015.26L3.11%205.49C2.54%204.87%201.61%204.83%200.99%205.39C0.37%205.96%200.33%206.89%200.89%207.51L10.86%2018.47C10.88%2018.49%2010.91%2018.52%2010.93%2018.55C11.23%2018.84%2011.61%2019%2012%2019C12.38%2019%2012.76%2018.84%2013.06%2018.55C13.08%2018.52%2013.11%2018.49%2013.13%2018.47L23.1%207.51C23.66%206.89%2023.62%205.96%2023%205.39C22.38%204.83%2021.45%204.87%2020.88%205.49L12%2015.26Z'%20fill='%23000000'%20fill-opacity='1.000000'%20fill-rule='evenodd'/%3e%3c/svg%3e"
                             alt="">
                        <h1>{{ category.name }}</h1>
                        <p>（{{ count }}）</p>
                    </div>
                    <button class="add-apply"><img
                                src="data:image/svg+xml,%3csvg%20width='24.000000'%20height='24.000000'%20viewBox='0%200%2024%2024'%20fill='none'%20xmlns='http://www.w3.org/2000/svg'%20xmlns:xlink='http://www.w3.org/1999/xlink'%3e%3cdesc%3e%20Created%20with%20Pixso.%20%3c/desc%3e%3cdefs/%3e%3crect%20id='add'%20width='24.000000'%20height='24.000000'%20fill='%23FFFFFF'%20fill-opacity='0'/%3e%3cpath%20id='矢量%206'%20d='M13.5%2010.5L13.5%204.51C13.5%203.66%2012.84%203%2012%203C11.16%203%2010.5%203.66%2010.5%204.51L10.5%2010.5L4.51%2010.5C3.66%2010.5%203%2011.16%203%2012C3%2012.84%203.66%2013.5%204.51%2013.5L10.5%2013.5L10.5%2019.48C10.5%2020.33%2011.16%2021%2012%2021C12.84%2021%2013.5%2020.33%2013.5%2019.48L13.5%2013.5L19.48%2013.5C20.33%2013.5%2021%2012.84%2021%2012C21%2011.16%2020.33%2010.5%2019.48%2010.5L13.5%2010.5Z'%20fill='%23FFFFFF'%20fill-opacity='1.000000'%20fill-rule='evenodd'/%3e%3c/svg%3e"
                                alt="">申请收录
                    </button>
                </div>
            {% endif %}
            {% if website %}
                <ul>
                    {% for item in website %}
                        {% if item.cid == category.id %}
                            <li>
                                <a href="{{ item.url }}" rel="nofollow noreferrer" target="_blank"
                                   ping="{{ "/api/open/track/ping?url=#{item.url}" }}">
                                    <div class="nav-item-title">
                                        <img src="{{ item.icon?:item.icon_url }}"
                                             alt="{{ item.website_name }}">
                                        <h5>{{ item.website_name }}</h5>
                                    </div>
                                    <p>{{ item.description }}</p>
                                </a>
                                <hr>
                                <div class="nav-operation">
                                    <!-- <a href="#">
                                            <img src="/src/assets/github.svg" alt="">
                                    </a> -->
                                    {# 复制按钮 #}
                                    <button class="copy-btn">
                                        <img src="data:image/svg+xml,%3csvg%20width='32.000000'%20height='32.000000'%20viewBox='0%200%2032%2032'%20fill='none'%20xmlns='http://www.w3.org/2000/svg'%20xmlns:xlink='http://www.w3.org/1999/xlink'%3e%3cdesc%3e%20Created%20with%20Pixso.%20%3c/desc%3e%3cdefs%3e%3cclipPath%20id='clip16_28'%3e%3crect%20id='copy'%20width='32.000000'%20height='32.000000'%20fill='white'%20fill-opacity='0'/%3e%3c/clipPath%3e%3c/defs%3e%3cg%20clip-path='url(%23clip16_28)'%3e%3cpath%20id='path'%20d='M21.72%207.42L3.96%207.42C2.87%207.42%202%208.31%202%209.42L2%2029C2%2030.1%202.87%2031%203.96%2031L21.73%2031C22.82%2031%2023.69%2030.1%2023.69%2029L23.69%209.42C23.69%209.28%2023.68%209.15%2023.65%209.02C23.63%208.9%2023.59%208.77%2023.54%208.65C23.49%208.53%2023.43%208.41%2023.36%208.3C23.29%208.19%2023.21%208.09%2023.11%208C23.02%207.91%2022.92%207.82%2022.82%207.75C22.71%207.68%2022.6%207.62%2022.48%207.57C22.36%207.52%2022.23%207.48%2022.11%207.45C21.98%207.43%2021.85%207.42%2021.72%207.42ZM21.07%2028.33L4.61%2028.33L4.61%2010.08L21.08%2010.08L21.08%2028.33L21.07%2028.33Z'%20fill='%23000000'%20fill-opacity='1.000000'%20fill-rule='nonzero'/%3e%3cpath%20id='path'%20d='M26.51%201L9.15%201C8.43%201%207.84%201.6%207.84%202.33C7.84%203.06%208.43%203.66%209.15%203.66L26.51%203.66C26.99%203.66%2027.38%204.06%2027.38%204.54L27.38%2024.44C27.38%2025.17%2027.97%2025.77%2028.69%2025.77C29.41%2025.77%2030%2025.17%2030%2024.44L30%204.54C29.99%202.58%2028.43%201%2026.51%201Z'%20fill='%23000000'%20fill-opacity='1.000000'%20fill-rule='nonzero'/%3e%3c/g%3e%3c/svg%3e"
                                             alt="">
                                    </button>
                                    <button>
                                        <img src="data:image/svg+xml,%3csvg%20width='32.000000'%20height='32.000000'%20viewBox='0%200%2032%2032'%20fill='none'%20xmlns='http://www.w3.org/2000/svg'%20xmlns:xlink='http://www.w3.org/1999/xlink'%3e%3cdesc%3e%20Created%20with%20Pixso.%20%3c/desc%3e%3cdefs%3e%3cclipPath%20id='clip16_34'%3e%3crect%20id='share'%20width='32.000000'%20height='32.000000'%20fill='white'%20fill-opacity='0'/%3e%3c/clipPath%3e%3c/defs%3e%3cg%20clip-path='url(%23clip16_34)'%3e%3cpath%20id='path'%20d='M23.88%2020.7C22.45%2020.7%2021.15%2021.29%2020.22%2022.24L12.16%2017.57C12.38%2017.02%2012.5%2016.43%2012.5%2015.81C12.5%2015.29%2012.41%2014.78%2012.26%2014.31L19.83%209.23C20.69%2010.05%2021.84%2010.55%2023.11%2010.55C25.73%2010.55%2027.86%208.41%2027.86%205.77C27.86%203.14%2025.73%201%2023.11%201C20.49%201%2018.36%203.14%2018.36%205.77C18.36%206.3%2018.44%206.8%2018.6%207.28L11.03%2012.35C10.17%2011.54%209.02%2011.03%207.75%2011.03C5.13%2011.03%203%2013.18%203%2015.81C3%2018.44%205.13%2020.59%207.75%2020.59C8.91%2020.59%209.98%2020.16%2010.81%2019.46L19.02%2024.22C18.85%2024.73%2018.76%2025.28%2018.76%2025.85C18.76%2028.69%2021.05%2031%2023.88%2031C26.7%2031%2029%2028.69%2029%2025.85C29%2023.01%2026.7%2020.7%2023.88%2020.7ZM23.11%203.6C24.3%203.6%2025.27%204.58%2025.27%205.77C25.27%206.97%2024.3%207.94%2023.11%207.94C21.92%207.94%2020.95%206.97%2020.95%205.77C20.95%204.58%2021.92%203.6%2023.11%203.6ZM7.75%2017.98C6.56%2017.98%205.59%2017.01%205.59%2015.81C5.59%2014.61%206.56%2013.64%207.75%2013.64C8.94%2013.64%209.91%2014.61%209.91%2015.81C9.91%2017.01%208.94%2017.98%207.75%2017.98ZM23.88%2028.42C22.46%2028.42%2021.32%2027.27%2021.32%2025.85C21.32%2024.43%2022.46%2023.27%2023.88%2023.27C25.29%2023.27%2026.44%2024.43%2026.44%2025.85C26.44%2027.27%2025.29%2028.42%2023.88%2028.42Z'%20fill='%23000000'%20fill-opacity='1.000000'%20fill-rule='nonzero'/%3e%3cpath%20id='path'%20d='M20.22%2022.24L12.16%2017.57C12.38%2017.02%2012.5%2016.43%2012.5%2015.81C12.5%2015.29%2012.41%2014.78%2012.26%2014.31L19.83%209.23C20.69%2010.05%2021.84%2010.55%2023.11%2010.55C25.73%2010.55%2027.86%208.41%2027.86%205.77C27.86%203.14%2025.73%201%2023.11%201C20.49%201%2018.36%203.14%2018.36%205.77C18.36%206.3%2018.44%206.8%2018.6%207.28L11.03%2012.35C10.17%2011.54%209.02%2011.03%207.75%2011.03C5.13%2011.03%203%2013.18%203%2015.81C3%2018.44%205.13%2020.59%207.75%2020.59C8.91%2020.59%209.98%2020.16%2010.81%2019.46L19.02%2024.22C18.85%2024.73%2018.76%2025.28%2018.76%2025.85C18.76%2028.69%2021.05%2031%2023.88%2031C26.7%2031%2029%2028.69%2029%2025.85C29%2023.01%2026.7%2020.7%2023.88%2020.7C22.45%2020.7%2021.15%2021.29%2020.22%2022.24ZM25.27%205.77C25.27%206.97%2024.3%207.94%2023.11%207.94C21.92%207.94%2020.95%206.97%2020.95%205.77C20.95%204.58%2021.92%203.6%2023.11%203.6C24.3%203.6%2025.27%204.58%2025.27%205.77ZM5.59%2015.81C5.59%2014.61%206.56%2013.64%207.75%2013.64C8.94%2013.64%209.91%2014.61%209.91%2015.81C9.91%2017.01%208.94%2017.98%207.75%2017.98C6.56%2017.98%205.59%2017.01%205.59%2015.81ZM21.32%2025.85C21.32%2024.43%2022.46%2023.27%2023.88%2023.27C25.29%2023.27%2026.44%2024.43%2026.44%2025.85C26.44%2027.27%2025.29%2028.42%2023.88%2028.42C22.46%2028.42%2021.32%2027.27%2021.32%2025.85Z'%20stroke='%23000000'%20stroke-opacity='1.000000'%20stroke-width='0.500000'/%3e%3c/g%3e%3c/svg%3e"
                                             alt="">
                                    </button>
                                </div>
                            </li>
                        {% endif %}
                    {% endfor %}
                </ul>
            {% endif %}
        </div>
    {% endfor %}
{% endif %}